body {
    font-family: 'Roboto', sans-serif;
}

hr {
    height: 5px;
    margin-top: 0;
    border: 0;
    background-color: #7d97ad;
}

.title,
.subtitle,
a {
    color: #2d3c49;
}

.featured-title {
    color: #7d97ad;
}

.logo-img {
    width: 10%;
}

.portfolio {
    margin-bottom: 10rem;
}
/* .hero {
    text-align: center;
} */